{% extends 'base.html.twig' %}

{% block body %}
    <h1>Individual</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ individual.id }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ individual.pseudo }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
                <td>{{ individual.firstName }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ individual.lastName }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ individual.picture }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ individual.password }}</td>
            </tr>
            <tr>
                <th>Dateregistration</th>
                <td>{% if individual.dateRegistration %}{{ individual.dateRegistration|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{% if individual.birthDate %}{{ individual.birthDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('individual_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('individual_edit', { 'id': individual.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
